<div class="flex h-full justify-center items-center bg-blue-600">
  <div class="bg-gray-300 p-12 rounded">
    <div class="md:flex md:items-center mb-6 font-medium">
      Perfil
    </div>

    <%= form_with model: @owner do |f| %>
      <div class="md:flex md:items-center mb-6">
        <label for="owner_name" class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
          Nome
        </label>
        <div class="m-5 md:my-0">
          <%= f.text_field :name, class: 'form-input w-full' %>
        </div>
      </div>

      <div class="md:flex md:items-center mb-6">
        <label for="owner_usable_tables_count" class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
          Quantidade de mesas disponíveis
        </label>
        <div class="m-5 md:my-0">
          <%= f.number_field :usable_tables_count, class: 'form-input w-full' %>
        </div>
      </div>

      <div class="md:flex md:items-center mb-6">
        <label for="owner_reservations_start_time" class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
          Horário de abertura das reservas
        </label>
        <input class="form-input w-full"
              id="owner_reservations_start_time"
              name="owner[reservations_start_time]"
              value="<%= @owner.reservations_start_time %>"
              type="time">
      </div>

      <div class="md:flex md:items-center mb-6">
        <label for="owner_reservations_end_time" class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
          Horário de fechamento das reservas
        </label>
        <input class="form-input w-full"
              id="owner_reservations_end_time"
              name="owner[reservations_end_time]"
              value="<%= @owner.reservations_end_time %>"
              type="time">
      </div>

      <div class="md:flex md:items-center">
        <%= f.submit 'Salvar',
          class: 'w-full form-button bg-blue-600 hover:bg-blue-500 focus:shadow-outline' %>
      </div>

      <div class="md:flex md:items-center mt-2">
        <%= link_to 'Voltar', owner_path(@owner),
          class: 'w-full form-button bg-gray-600 hover:bg-gray-500 focus:shadow-outline text-center' %>
      </div>
    <% end %>
  </div>
</div>
