<div class="flex flex-col justify-around items-center h-full w-full">
  <div class="flex justify-center items-center bg-blue-600">
    <div class="bg-gray-300 p-12 rounded">
      <div class="md:flex md:items-center mb-6 font-medium">
        Perfil
      </div>

      <div>
        <p><%= @owner.name %></p>
      </div>

      <div>
        <p>Quantidade de mesas disponíveis: <%= @owner.usable_tables_count %></p>
      </div>

      <div>
        <p>Horário permitido para reservas: <%= @owner.reservations_start_time %> às <%= @owner.reservations_end_time %></p>
      </div>

      <div class="md:flex md:items-center mb-6 font-medium mt-5">
        <%= link_to 'Editar perfil', edit_owner_path(@owner),
          class: 'w-full form-button bg-blue-600 hover:bg-blue-500 focus:shadow-outline text-center' %>
      </div>
    </div>
  </div>

  <div class="flex justify-center items-center bg-blue-600">
    <div class="bg-gray-300 p-12 rounded">
      <div class="md:flex md:items-center mb-6 font-medium">
        Restaurantes cadastrados
      </div>

      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Código de acesso</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @owner.restaurants.each do |restaurant| %>
            <tr>
              <td><%= link_to restaurant.name, owner_restaurant_path(owner_id: @owner.id, id: restaurant.id) %></td>
              <td><%= restaurant.code %></td>
              <td>
                <%= link_to 'Editar', owner_edit_restaurant_path(owner_id: @owner.id, id: restaurant.id) %>  |
                <%= link_to 'Remover',
                  owner_restaurant_path(owner_id: @owner.id, id: restaurant.id),
                  method: :delete,
                  data: {
                    toggle: 'tooltip',
                    confirm: "Essa ação é irreversível. Deseja remover o restaurante #{restaurant.name}?"
                  },
                  title: "Editar Avaliação"
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="md:flex md:items-center mb-6 font-medium mt-5">
        <%= link_to 'Adicionar Restaurante', owner_restaurants_path(@owner),
          class: 'w-full form-button bg-blue-600 hover:bg-blue-500 focus:shadow-outline text-center' %>
      </div>
    </div>
  </div>
</div>
