<% if @existing_orders.present? %>
  <div class="p-5 bg-green-500 text-white">
    <p>Você pode cancelar sua reserva até 15 minutos antes do horário agendado.</p>
    <p>Tempo até sua próxima reserva:
      <!-- This should be based on the next order of current client -->
      <span id="time_until_next_order" data-user-next-order=<%= @next_order_time %>></span>
    </p>
  </div>
  <div class="p-8 bg-green-600">
    <div class="text-white text-lg font-bold mb-3">
      Pedidos em andamento
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% @existing_orders.each do |order| %>
        <div class="bg-white rounded-lg p-6">
          <h2 class="text-lg">Pedido:</h2>
          <h2 class="text-md">
            <% order.items.each do |item| %>
              <p><%= item.name %> x 1</p>
            <% end %>
          </h2>
          <div>Horário: <%= order.time_slot.to_s %></div>
          <div class="text-gray-600">Restaurante: <%= order.restaurant.name %></div>
          <div class="text-gray-600">
          <%= link_to 'Desfazer reserva', order_path(order),
              method: :delete,
              data: {
                toggle: 'tooltip',
                confirm: "Essa ação é irreversível. Deseja desfazer essa reserva?"
              }
            %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="p-8 bg-blue-600">
  <div class="text-white text-lg font-bold mb-3">
    Escolha um horário
  </div>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    <% @free_time_slots.each do |time_slot| %>
      <% if time_slot.available? %>
        <%= link_to restaurants_path(params: { time_slot_id: time_slot }),
          class: 'card bg-gray-300 hover:bg-gray-200 items-center' do %>
          <div class="font-bold">
            <%= time_slot.to_s %>
          </div>
          <div class="flex items-center text-sm">
            <div class="text-xs text-right text-gray-700">Mesas<br>disponíveis</div>
            <div class="badge bg-blue-600 text-white ml-2">
              <%= time_slot.available_tables_count %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="card bg-gray-500 items-center">
          <div class="font-bold text-gray-700">
            <%= time_slot.to_s %>
          </div>
          <div class="flex items-center text-sm">
            <div class="text-xs text-right text-gray-700">Mesas<br>disponíveis</div>
            <div class="badge bg-gray-600 text-gray-500 ml-2">
              <%= time_slot.available_tables_count %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  const timeUntilNextOrderSpan = document.getElementById('time_until_next_order');

  if (timeUntilNextOrderSpan) {
    const [nextOrderHour, nextOrderMinute] = timeUntilNextOrderSpan.dataset.userNextOrder.split(':')
    const nextOrderTime = new Date().setHours(nextOrderHour, nextOrderMinute);

    const interval = setInterval(() => {
      const now = new Date().getTime();
      const distance = nextOrderTime - now;

      if (distance < 0) {
        clearInterval(interval);
        timeUntilNextOrderSpan.innerHTML = 'Horário da reserva atingido';
      }

      const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((distance % (1000 * 60)) / 1000);

      timeUntilNextOrderSpan.innerHTML = `${hours}h ${minutes}m ${seconds}s`;
    }, 1000);
  }
</script>
