<div class="p-5 ">
  <div class="text-white text-lg font-bold mb-3">
    Cardárpio
  </div>
  <div class="grid gap-2 md:grid-cols-2 lg:grid-cols-3">
    <% @menu.each do |item| %>
      <div class='card flex-col bg-gray-300 text-sm my-2'>
        <div>
          <div class="mb-1">
            <div class="text-gray-900 font-bold"><%= item.name %></div>
          </div>
          <div class="mb-2">
            <div class="text-gray-800"><%= item.description %></div>
          </div>
          <div class="mb-2">
            <div class="text-green-800 font-bold"><%= number_to_currency(item.value, unit: 'R$', format: "%u %n") %></div>
          </div>
        </div>

        <%= form_tag orders_path(params: { item_id: item.id, restaurant_id: @restaurant_id, time_slot_id: params[:time_slot_id] }),
              method: :post do %>
          <div class="my-2 md:flex md:items-center md:justify-between">
            <label for="phone_number-<%= item.id %>">
              Nº de celular
            </label>
            <input class="form-input my-2 phone-number w-full md:w-auto"
                   name="phone_number"
                   type="text"
                   id="phone_number-<%= item.id %>">
          </div>
          <button type="submit" class="form-button col-span-2 w-full bg-green-600 hover:bg-green-500">
            Comprar
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
document.querySelectorAll('.phone-number').forEach(el => {
  IMask(el, { mask: '+{55} (00) 00000-0000' });
})
</script>
