<div class="flex flex-col md:flex-row md:flex-row-reverse">
  <% if @cart.present? %>
    <%= render 'cart' %>
  <% end %>

  <div class="p-6">
    <div class="text-white text-lg font-bold mb-3">
      Cardárpio
    </div>
    <div class="grid gap-2 lg:grid-cols-2">
      <% @menu.each do |item| %>
        <div class='card flex-col bg-gray-300 text-sm my-2'>
          <div>
            <div class="mb-1">
              <div class="text-gray-900 font-bold"><%= item.name %></div>
            </div>
            <div class="mb-2">
              <div class="text-gray-800"><%= item.description %></div>
            </div>
            <div class="mb-2">
              <div class="text-green-800 font-bold"><%= number_to_currency(item.value, unit: 'R$', format: "%u %n") %></div>
            </div>
          </div>

          <%= form_tag cart_add_item_path(params: { item_id: item.id, restaurant_id: @restaurant_id, time_slot_id: params[:time_slot_id] }),
                method: :patch do %>
            <button type="submit" class="form-button col-span-2 w-full bg-green-600 hover:bg-green-500">
              Adicionar no carrinho
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
document.querySelectorAll('.phone-number').forEach(el => {
  IMask(el, { mask: '+{55} (00) 00000-0000' });
})
</script>
