<!DOCTYPE html>
<html>
  <head>
    <title>Desaglomera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js"></script>
  </head>

  <body class="bg-blue-600">
    <div class="h-full flex flex-col">
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/flash_messages' %>

      <div class="h-full">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
